<p>
  <b>Title:</b>
  <%=h @gallery_category.title %>
</p>

<p>
  <b>Description:</b>
  <%= @gallery_category.description %>
</p>

<p>
  <b>Visable:</b>
  <%=h @gallery_category.visible %>
</p>


<%= link_to 'Edit', edit_gallery_category_path(@gallery_category) %> |
<%= link_to 'Back', gallery_categories_path %>